body{
    font-family:Arial,sans-serif;
    background:linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #334155
    );
    min-height:100vh;
    margin:0;
    color:white;
}

.container{
    width:80%;
    margin:auto;
    padding:30px;
}

h1{
    text-align:center;
}

button{
    background:linear-gradient(
    45deg,
    #06b6d4,
    #3b82f6
    );

    color:white;
    border:none;
    padding:15px 25px;
    border-radius:12px;
    cursor:pointer;
    font-size:16px;
}

.card{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(10px);

    padding:20px;
    margin-top:20px;

    border-radius:15px;
}

.quote{
    font-size:18px;
}

.author{
    color:#93c5fd;
}